;*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}

#bg{
    background-color: white;
    height: 100%;
    width: 100%;
}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#navpt1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3{
    background-color: white;
    font-size: 15px;
    border: 1.5px solid #000;
    border-radius: 50px;
    font-weight: 500;
    padding: 0px 5px;

}

#nav i{
    background-color: white;
    font-size: 15px;
    border: 1.5px solid #000;
    border-radius: 50px;
    font-weight: 500;
    padding: 0px 5px;
}

#nav h1{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

#btn1{
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: white;
}

#btn2{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: orangered;
    color: white;
}

#head{
    font-size: 70px;
    font-weight: 100;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
    height: 400px;
    width: 300px;
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm{
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-weight: 400;
    font-size: 15px;
}
