*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

#nav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}

#logo{
  justify-content: center;
  font-size: 8px;
  border: 1px solid black;
  font-family: arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  
}

#nav1{
}

#nav3{
}
